.softwareWrapper{
    position: relative;
    display: flex;
    flex-direction: column;
    
    
    .headText{
        display: flex;
        position: absolute;
        top: 270px;
        width: 100%;
        left: 0;
        z-index: 444;
        justify-content: center;
        align-items: center;
        color: transparent;
        -webkit-text-stroke: 1px #fff;
        // margin: 220px auto;
        align-self: center;
        font-weight: bolder;
        font-size: 20px;
        text-align: center;
    }

    .soft{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-bottom: 30px;
        height: max-content;
        position: relative;

            .software{
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                gap: 2rem;
                position: relative;

                .sofwaretext{
                    display: flex;
                    position: relative;
                    justify-content: flex-start;
                    align-items: flex-start;
                    gap: 2rem;
                    top: -20px;
                    border: 1px solid;
                    width: 42%;
                    min-height: 200px;
                    padding: 10px 20px;
                    border-radius: 10px;
                    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
                    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
                    background-color: white;
                    

    
                    .text{
                        display: flex;
                        flex-direction: column;

                        .iconn{
                            display: flex;
                            align-items: flex-start;
                            justify-content: flex-start;
                            gap: 1rem;

                            h1{
                                color: #fd9000;
                                margin: 0px;
                                font-size: 30px;
                            }

                            .icons{
                                display: flex;
                                justify-self: center;
                                align-self: center;
                                font-size: 35px;
                            }
                        }
        
                        .writeUp{
                            display: inline-block;
                            height: max-content;
                           

                            p{
                                line-height: 25px;

                                .opnDiv{
                                    display: inline-block;
                                    height: max-content;
                                    
                                }

                                .clsDiv{
                                    display: none;
                                    height: 0px;
                                }
                            }

                            button{
                                cursor: pointer;
                                padding: 10px;
                                border: none;
                                border-radius: 3px;
                                color: #fd9000;
                            }
                        }
                    }
                }
            }

          
    }
}


$small: 475px;
$semiMedium: 640px;
$medium: 768px;
$semiBig: 1023px;
$big: 1024px;
$large: 1200px;
$veryBig: 1536px;

@media (max-width: $medium) {
    .softwareWrapper{
        position: relative;
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;

        .headText{
            display: flex;
            position: absolute;
            // top: 260px;
            width: 100%;
            left: 0;
            z-index: 444;
            justify-content: center;
            align-items: center;
            color: transparent;
            -webkit-text-stroke: 1px #fff;
            margin: 220px auto;
            align-self: center;
            font-weight: bolder;
            font-size: 20px;
            text-align: center;
        }
    
        .soft{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            margin-bottom: 30px;
            height: max-content;
            position: relative;
    
                .software{
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    align-items: center;
                    gap: 2rem;
                    position: relative;
                    width: 90%;
    
                    .sofwaretext{
                        display: flex;
                        position: relative;
                        justify-content: flex-start;
                        align-items: flex-start;
                        gap: 2rem;
                        top: -20px;
                        border: 1px solid;
                        width: 750px;
                        max-width: 770px;
                        min-height: 200px;
                        padding: 10px 15px;
                        border-radius: 10px;
                        -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
                        box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
                        background-color: white;
                        
    
        
                        .text{
                            display: flex;
                            flex-direction: column;
    
                            .iconn{
                                display: flex;
                                align-items: flex-start;
                                justify-content: flex-start;
                                gap: 1rem;
    
                                h1{
                                    color: #fd9000;
                                    margin: 0px;
                                    font-size: 30px;
                                }
    
                                .icons{
                                    display: flex;
                                    justify-self: center;
                                    align-self: center;
                                    font-size: 35px;
                                }
                            }
            
                            .writeUp{
                                display: inline-block;
                                height: max-content;
                               
    
                                p{
                                    line-height: 25px;
    
                                    .opnDiv{
                                        display: inline-block;
                                        height: max-content;
                                        
                                    }
    
                                    .clsDiv{
                                        display: none;
                                        height: 0px;
                                    }
                                }
    
                                button{
                                    cursor: pointer;
                                    padding: 10px;
                                    border: none;
                                    border-radius: 3px;
                                    color: #fd9000;
                                }
                            }
                        }
                    }
                }
    
              
        }
    }
}

@media (max-width: $semiMedium) {
    .softwareWrapper{
        position: relative;
        display: flex;
        flex-direction: column;
        
    
        // .bckImg{
        //     height: 200px;
        // }
        .headText{
            display: flex;
            position: absolute;
            // top: 260px;
            width: 100%;
            left: 0;
            z-index: 444;
            justify-content: center;
            align-items: center;
            color: transparent;
            -webkit-text-stroke: 1px #fff;
            margin: 220px auto;
            align-self: center;
            font-weight: bolder;
            font-size: 20px;
            text-align: center;
        }
    
        .soft{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            margin-bottom: 30px;
            height: max-content;
            position: relative;
    
                .software{
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    align-items: center;
                    gap: 2rem;
                    position: relative;
                    width: 90%;
    
                    .sofwaretext{
                        display: flex;
                        position: relative;
                        justify-content: flex-start;
                        align-items: flex-start;
                        gap: 2rem;
                        top: -20px;
                        border: 1px solid;
                        width: 600px;
                        max-width: 640px;
                        min-height: 200px;
                        padding: 10px 15px;
                        border-radius: 10px;
                        -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
                        box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
                        background-color: white;
                        
    
        
                        .text{
                            display: flex;
                            flex-direction: column;
    
                            .iconn{
                                display: flex;
                                align-items: flex-start;
                                justify-content: flex-start;
                                gap: 1rem;
    
                                h1{
                                    color: #fd9000;
                                    margin: 0px;
                                    font-size: 30px;
                                }
    
                                .icons{
                                    display: flex;
                                    justify-self: center;
                                    align-self: center;
                                    font-size: 35px;
                                }
                            }
            
                            .writeUp{
                                display: inline-block;
                                height: max-content;
                               
    
                                p{
                                    line-height: 25px;
    
                                    .opnDiv{
                                        display: inline-block;
                                        height: max-content;
                                        
                                    }
    
                                    .clsDiv{
                                        display: none;
                                        height: 0px;
                                    }
                                }
    
                                button{
                                    cursor: pointer;
                                    padding: 10px;
                                    border: none;
                                    border-radius: 3px;
                                    color: #fd9000;
                                }
                            }
                        }
                    }
                }
    
              
        }
    }
}

@media (max-width: $small) {
    .softwareWrapper{
        position: relative;
        display: flex;
        flex-direction: column;
        
    
        .headText{
            display: flex;
            position: absolute;
            // top: 290px;
            width: 100%;
            left: 0;
            z-index: 444;
            justify-content: center;
            align-items: center;
            color: transparent;
            -webkit-text-stroke: 1px #fff;
            margin: 220px auto;
            align-self: center;
            font-weight: bolder;
            font-size: 20px;
            text-align: center;
        }
    
        .soft{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            margin-bottom: 30px;
            height: max-content;
            position: relative;
    
                .software{
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    align-items: center;
                    gap: 2rem;
                    position: relative;
                    width: 90%;
    
                    .sofwaretext{
                        display: flex;
                        position: relative;
                        justify-content: flex-start;
                        align-items: flex-start;
                        gap: 2rem;
                        top: -20px;
                        border: 1px solid;
                        width: 400px;
                        max-width: 450px;
                        min-height: 200px;
                        padding: 10px 15px;
                        border-radius: 10px;
                        -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
                        box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
                        background-color: white;
                        margin: 0px auto;
                        
    
        
                        .text{
                            display: flex;
                            flex-direction: column;
    
                            .iconn{
                                display: flex;
                                align-items: flex-start;
                                justify-content: flex-start;
                                gap: 1rem;
    
                                h1{
                                    color: #fd9000;
                                    margin: 0px;
                                    font-size: 30px;
                                }
    
                                .icons{
                                    display: flex;
                                    justify-self: center;
                                    align-self: center;
                                    font-size: 35px;
                                }
                            }
            
                            .writeUp{
                                display: inline-block;
                                height: max-content;
                               
    
                                p{
                                    line-height: 25px;
    
                                    .opnDiv{
                                        display: inline-block;
                                        height: max-content;
                                        
                                    }
    
                                    .clsDiv{
                                        display: none;
                                        height: 0px;
                                    }
                                }
    
                                button{
                                    cursor: pointer;
                                    padding: 10px;
                                    border: none;
                                    border-radius: 3px;
                                    color: #fd9000;
                                }
                            }
                        }
                    }
                }
    
              
        }
    }
}