.service{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 30px 0px;
    margin-bottom: 20px;
    // clip-path: polygon(0 4%, 100% 0, 100% 95%, 0 100%);

    .wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 95%;
        gap: 20px;


        .top{
            display: flex;
            flex-direction: column;
            flex: 5;
            justify-content: center;
            align-items: center;
            width: 100%;
            position: relative;
            margin-bottom: 120px;
            
            .img1{
                display: flex;
                height: 270px;
                width: 400px;

                &:hover{
                    cursor: pointer;
                    z-index: 555;
                }

                .img{
                    width: 350px;
                    height: 200px;
                }

            }

            .img2{
                display: flex;
                height: 300px;
                width: 400px;
                position: absolute;
                top: 80px;
                left: 10px;
                
                &:hover{
                    cursor: pointer;
                    z-index: 555;
                }

                .img{
                    width: 350px;
                    height: 200px;
                }

            }

            .img3{
                display: flex;
                height: 300px;
                width: 400px;
                position: absolute;
                top: 160px;
                right: 10px;

                &:hover{
                    cursor: pointer;
                    z-index: 555;
                }

                .img{
                    width: 350px;
                    height: 200px;
                }

            }
            
        }
        .botom{
            display: flex;
           flex-direction: column;
           flex: 5;
            justify-content: flex-start;
            align-items: flex-start;
            width: 90%;
            gap: 10px;
            padding: 20px 0px;
          

                .first{
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: flex-start;                 
                    border-radius: 20px 10px;
                    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
                    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
                    background-color: white;
                    width: 70%;
                    padding: 10px;
                    

                    .border{
                        border: 1px solid rgb(196, 189, 189);
                        width: 100%;
                    }

        
                        .click{
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            width: 95%;
                            z-index: 12;
                            padding: 0px 10px;
                           
                           
                            h4{
                                display: flex;
                                font-size: 15px;
                            }
                            .learn{
                                cursor: pointer;
                                font-size: 20px;
                                display: flex;
                                justify-content: center;
                            }
                        }

                    .readbelow{
                        display: block;
                        padding: 0px 10px;
                        height: max-content;                       
                       

                        p{
                            width: 100%;
                             height: max-content;
                            display: flex;
                            justify-content: flex-start;
                            align-items: flex-start;
                            margin: 0;
                            padding: 0px;
                            font-size: 15px;
                            line-height: 30px;
                        }
                    }
                    
                }
            
                span{
                    font-size: 23px;
                    // margin: 40px 0px;
                    padding:40px 10px;
                    cursor: pointer;
                    color: rgb(148, 148, 218);
                }
        }
    }
}


$small: 475px;
$semiMedium: 640px;
$medium: 768px;
$big: 1024px;
$large: 1200px;
$veryBig: 1536px;
@media (max-width: $big) {
    .service{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 30px 0px;
        margin-bottom: 20px;
        // clip-path: polygon(0 4%, 100% 0, 100% 95%, 0 100%);
    
        .wrapper{
            display: flex;
            flex-direction: column-reverse;
            justify-content: center;
            align-items: center;
            width: 90%;
            gap: 20px;
    
    
            .top{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 90%;
                position: relative;
                margin-bottom: 120px;
                padding: 0px 10px;
                margin-left: 5px;
                
                .img1{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 270px;
                    width: 300px;
    
                    &:hover{
                        cursor: pointer;
                        z-index: 555;
                    }
    
                    .img{
                        width: 300px;
                        height: 180px;
                    }
    
                }
    
                .img2{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 300px;
                    width: 300px;
                    position: absolute;
                    top: 80px;
                    left: 0px;
                    
                    &:hover{
                        cursor: pointer;
                        z-index: 555;
                    }
    
                    .img{
                        width: 300px;
                        height: 180px;
                    }
    
                }
    
                .img3{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 300px;
                    width: 400px;
                    position: absolute;
                    top: 160px;
                    right: -50px;
    
                    &:hover{
                        cursor: pointer;
                        z-index: 555;
                    }
    
                    .img{
                        width: 300px;
                        height: 180px;
                    }
    
                }
                
            }
            .botom{
                display: flex;
               flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 90%;
                gap: 10px;
                padding: 20px 20px;
                margin-left: 0px;
              
    
                    .first{
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;
                        align-items: flex-start;                 
                        border-radius: 20px 10px;
                        -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
                        box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
                        background-color: white;
                        width: 100%;
                        padding: 10px;
                        
    
                        .border{
                            border: 1px solid rgb(196, 189, 189);
                            width: 100%;
                        }
    
            
                            .click{
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                width: 95%;
                                z-index: 12;
                                padding: 0px 10px;
                               
                               
                                h4{
                                    display: flex;
                                    font-size: 15px;
                                }
                                .learn{
                                    cursor: pointer;
                                    font-size: 20px;
                                    display: flex;
                                    justify-content: center;
                                }
                            }
    
                        .readbelow{
                            display: block;
                            padding: 0px 10px;
                            height: max-content;                       
                           
    
                            p{
                                width: 100%;
                                 height: max-content;
                                display: flex;
                                justify-content: flex-start;
                                align-items: flex-start;
                                margin: 0;
                                padding: 0px;
                                font-size: 15px;
                                line-height: 30px;
                            }
                        }
                        
                    }
                
                    span{
                        font-size: 23px;
                        // margin: 40px 0px;
                        padding:40px 10px;
                        cursor: pointer;
                        color: #fd9000;
                    }
            }
        }
    }
    
}


@media (max-width: $semiMedium) {
    .service{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 30px 0px;
        margin-bottom: 20px;
    
        .wrapper{
            display: flex;
            flex-direction: column-reverse;
            justify-content: center;
            align-items: center;
            width: 90%;
            gap: 20px;
    
    
            .top{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 90%;
                position: relative;
                margin-bottom: 120px;
                padding: 0px 10px;
                margin-left: 0px;
                box-sizing: border-box;
                
                .img1{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 270px;
                    max-width: 220px;
    
                    &:hover{
                        cursor: pointer;
                        z-index: 555;
                    }
    
                    .img{
                        max-width: 350px;
                        max-height: 150px;
                    }
    
                }
    
                .img2{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 270px;
                    max-width: 220px;
                    position: absolute;
                    top: 80px;
                    left: 20px;
                    box-sizing: border-box;
                    
                    &:hover{
                        cursor: pointer;
                        z-index: 555;
                    }
    
                    .img{
                        max-width: 250px;
                        max-height: 150px;
                    }
    
                }
    
                .img3{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 270px;
                    max-width: 220px;
                    position: absolute;
                    top: 160px;
                    left: 120px;
                    box-sizing: border-box;
    
                    &:hover{
                        cursor: pointer;
                        z-index: 555;
                    }
    
                    .img{
                        max-width: 250px;
                        max-height: 150px;
                    }
    
                }
                
            }
            .botom{
                display: flex;
               flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 90%;
                gap: 10px;
                padding: 20px 20px;
                margin-left: 0px;
              
    
                    .first{
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;
                        align-items: flex-start;                 
                        border-radius: 20px 10px;
                        -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
                        box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
                        background-color: white;
                        width: 100%;
                        padding: 10px;
                        
    
                        .border{
                            border: 1px solid rgb(196, 189, 189);
                            width: 100%;
                        }
    
            
                            .click{
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                width: 95%;
                                z-index: 12;
                                padding: 0px 10px;
                               
                               
                                h4{
                                    display: flex;
                                    font-size: 12px;
                                }
                                .learn{
                                    cursor: pointer;
                                    font-size: 20px;
                                    display: flex;
                                    justify-content: center;
                                }
                            }
    
                        .readbelow{
                            display: block;
                            padding: 0px 10px;
                            height: max-content;                       
                           
    
                            p{
                                width: 100%;
                                 height: max-content;
                                display: flex;
                                justify-content: flex-start;
                                align-items: flex-start;
                                margin: 0;
                                padding: 0px;
                                font-size: 15px;
                                line-height: 30px;
                            }
                        }
                        
                    }
                
                    span{
                        font-size: 20px;
                        // margin: 40px 0px;
                        padding:40px 10px;
                        cursor: pointer;
                        color: #fd9000;
                    }
            }
        }
    }
    
}
@media (max-width: $small) {
    .service{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 30px 0px;
        margin-bottom: 20px;
        // clip-path: polygon(0 4%, 100% 0, 100% 95%, 0 100%);
    
        .wrapper{
            display: flex;
            flex-direction: column-reverse;
            justify-content: center;
            align-items: center;
            width: 90%;
            gap: 20px;
    
    
            .top{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 90%;
                position: relative;
                margin-bottom: 120px;
                padding: 0px 10px;
                margin-left: 0px;
                
                .img1{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 270px;
                    max-width: 220px;
    
                    &:hover{
                        cursor: pointer;
                        z-index: 555;
                    }
    
                    .img{
                        max-width: 220px;
                        max-height: 120px;
                    }
    
                }
    
                .img2{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 270px;
                    max-width: 220px;
                    position: absolute;
                    top: 80px;
                    left: 0px;
                    
                    &:hover{
                        cursor: pointer;
                        z-index: 555;
                    }
    
                    .img{
                        max-width: 220px;
                        max-height: 120px;
                    }
    
                }
    
                .img3{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 270px;
                    max-width: 220px;
                    position: absolute;
                    top: 160px;
                    left: 20px;
    
                    &:hover{
                        cursor: pointer;
                        z-index: 555;
                    }
    
                    .img{
                        max-width: 220px;
                        max-height: 120px;
                    }
    
                }
                
            }
            .botom{
                display: flex;
               flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 90%;
                gap: 10px;
                padding: 20px 20px;
                margin-left: 0px;
              
    
                    .first{
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;
                        align-items: flex-start;                 
                        border-radius: 20px 10px;
                        -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
                        box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
                        background-color: white;
                        width: 100%;
                        padding: 10px;
                        
    
                        .border{
                            border: 1px solid rgb(196, 189, 189);
                            width: 100%;
                        }
    
            
                            .click{
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                width: 95%;
                                z-index: 12;
                                padding: 0px 10px;
                               
                               
                                h4{
                                    display: flex;
                                    font-size: 12px;
                                }
                                .learn{
                                    cursor: pointer;
                                    font-size: 20px;
                                    display: flex;
                                    justify-content: center;
                                }
                            }
    
                        .readbelow{
                            display: block;
                            padding: 0px 10px;
                            height: max-content;                       
                           
    
                            p{
                                width: 100%;
                                 height: max-content;
                                display: flex;
                                justify-content: flex-start;
                                align-items: flex-start;
                                margin: 0;
                                padding: 0px;
                                font-size: 15px;
                                line-height: 30px;
                            }
                        }
                        
                    }
                
                    span{
                        font-size: 20px;
                        // margin: 40px 0px;
                        padding:40px 10px;
                        cursor: pointer;
                        color: #fd9000;
                    }
            }
        }
    }
    
}