.mainHome{


    .wrapper{
        position: relative;
     

        .headTestFadein{
            transition: opacity 7s ease;
            display: flex;
            flex-direction: column;
            position: absolute;
            top: 0px;
            width: 100%;
            right: 0;
            z-index: 444;
            // justify-content: center;
            // align-items: center;
            color: transparent;
            -webkit-text-stroke: 1px #fff;
            margin: 270px auto;
            align-self: center;
            font-weight: bolder;
            font-size: 20px;

            h1{
                margin: 0px;
                padding: 0px;
                text-align: center;
            }

            span{
                font-size: 25px;
                color: white;
                display: flex;
                justify-content: flex-end;
                align-items: flex-end;
                // text-align: end;
                margin: 0px;
                margin-top: -20px;
                right: 430px;
                position: relative;
            }
        }

        

        .headTestFadeout{
            opacity: 0;
            transition: opacity 7s ease;
            display: none;
        }

        .service{
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 20px;
            color: black;
            // color: rgb(138, 133, 133);
            margin: 0px;

            h2{
                color: black
            }
        }

        .centre{
            width: 100%;
            height: 500px;
        }
    }
}

$small: 475px;
$semiMedium: 640px;
$medium: 768px;
$semiBig: 1023px;
$big: 1024px;
$large: 1200px;
$veryBig: 1536px;


@media (max-width: $semiBig){
    .mainHome{


        .wrapper{
            position: relative;
         
    
            .headTestFadein{
                transition: opacity 7s ease;
                display: flex;
                flex-direction: column;
                position: absolute;
                justify-content: center;
                align-items: center;
                top: 230px;
                width: 100%;
                right: 0;
                z-index: 444;
                color: transparent;
                -webkit-text-stroke: 1px #fff;
                align-self: center;
                font-weight: bolder;
                font-size: 20px;
    
                h1{
                    margin: 0px;
                    padding: 0px;
                    text-align: center;
                }
    
                span{
                    font-size: 25px;
                    color: white;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: 0px;
                    margin-top: -20px;
                    text-align: center;
                    width: 100%;
                    left: 80px;
                }
            }

            .service{
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 18px;
                color: black;
                margin: 0px;
                text-align: center;
    
                h2{
                    color: black
                }
            }
    
        }
    }
}

@media (max-width: $medium){
    .mainHome{


        .wrapper{
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
         
    
            .headTestFadein{
                transition: opacity 7s ease;
                display: flex;
                flex-direction: column;
                position: absolute;
                justify-content: center;
                align-items: center;
                top: 230px;
                width: 100%;
                right: 0;
                z-index: 444;
                color: transparent;
                -webkit-text-stroke: 1px #fff;
                // align-self: center;
                font-weight: bolder;
                font-size: 20px;
    
                h1{
                    margin: 0px;
                    padding: 0px;
                    text-align: center;
                }
    
                span{
                    font-size: 25px;
                    color: white;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: 0px;
                    margin-top: -20px;
                    text-align: center;
                    width: 100%;
                    left: 0px;
                }
            }

            .service{
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 20px;
                color: black;
                margin: 0px;
                text-align: center;
                width: 90%;
    
                h2{
                    color: black
                }
            }
    
        }
    }
    
}

@media (max-width: $semiMedium){
    .mainHome{


        .wrapper{
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
         
    
            .headTestFadein{
                transition: opacity 7s ease;
                display: flex;
                flex-direction: column;
                position: absolute;
                top: 110px;
                width: 100%;
                right: 0;
                z-index: 444;
                color: transparent;
                -webkit-text-stroke: 1px #fff;
                justify-content: center;
                align-items: center;
                align-self: center;
                font-weight: bolder;
                font-size: 20px;
    
                h1{
                    margin: 0px;
                    padding: 0px;
                    text-align: center;
                }
    
                span{
                    font-size: 15px;
                    color: white;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    // max-width: 330px;
                    margin: 0px;
                    margin-top: -20px;
                    right: 0px;
                    left: 0px;
                    position: relative;
                    text-align: center;
                }
            }

            .service{
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 15px;
                color: black;
                margin: 0px;
                text-align: center;
                width: 90%;
                
    
                h2{
                    color: black
                }
            }
    
        }
    }
    
}
@media (max-width: $small){
    .mainHome{


        .wrapper{
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
         
    
            .headTestFadein{
                transition: opacity 7s ease;
                display: flex;
                flex-direction: column;
                position: absolute;
                top: 0px;
                width: 100%;
                right: 0;
                z-index: 444;
                color: transparent;
                -webkit-text-stroke: 1px #fff;
                justify-content: center;
                align-items: center;
                align-self: center;
                font-weight: bolder;
                font-size: 15px;
    
                h1{
                    margin: 0px;
                    padding: 0px;
                    text-align: center;
                }
    
                span{
                    font-size: 11px;
                    color: white;
                    display: flex;
                    justify-content: center;
                    align-self: center;
                    // max-width: 330px;
                    margin: 0px;
                    margin-top: -20px;
                    top: 0px;
                    left: 0px;
                    position: relative;
                    // text-align: center;
                }
            }

            .service{
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 15px;
                color: black;
                margin: 0px;
                text-align: center;
                width: 90%;
    
                h2{
                    color: black
                }
            }
    
        }
    }
    
}

