.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: transparent;
    padding: 15px 0px;

    .navbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 80%;
        
        

        .nav_logo{
            
            .img{
                height: 70px;
                width: 150px;
                text-decoration: none;
            }
        }
        .nav_menu{
            display: flex;
            gap: 35px;
            font-size: 20px;
            color: white;
            font-weight: 300;
            
            .submenu{
                display: flex;
                flex-direction: column;
                position: relative;
                
                .menuHover{
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    cursor: pointer;
                    justify-content: center;

                }
                .subnav{
                    display: flex;
                    flex-direction: column;
                    position: absolute;
                    width: 190px;
                    background-color: white;
                    color: black;
                    left: 0px;
                    top: 30px;
                    gap: 15px;
                    padding: 15px;
                    border-radius: 7px;

                    
                }
                .noSubnav{
                    display: none;
                }
            }
        }

        .showMenu{
            display: none;
        }

        .breadMenu{
            display: none;
        }
    }


}

.navb{
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: rgb(252, 248, 248);

    .navbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 80%;
        
        

        .nav_logo{
            
            .img{
                height: 70px;
                width: 150px;
                text-decoration: none;
            }
        }
        .nav_menu{
            display: flex;
            gap: 35px;
            font-size: 15px;
            color: #bc7920;
            font-weight: 300;
            
            .submenu{
                display: flex;
                flex-direction: column;
                position: relative;
                
                .menuHover{
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    cursor: pointer;

                }
                .subnav{
                    display: flex;
                    flex-direction: column;
                    position: absolute;
                    width: 160px;
                    background-color: white;
                    color: #f5c689;
                    left: 0px;
                    top: 30px;
                    gap: 7px;
                    padding: 25px;
                    border-radius: 7px;
                }
                .noSubnav{
                    display: none;
                }
            }
        }

        .breadMenu{
            display: none;
        }
    }


}

$small: 475px;
$semiMedium: 640px;
$medium: 768px;
$big: 1024px;
$large: 1200px;
$veryBig: 1536px;




@media (max-width: $big) {
    .wrapper{
        margin: 0px auto;
        display: flex;
        align-items: center;
        justify-content: center;


        .navbar{
            position: relative;
            width: 93%;

            .nav_logo{

                .img{
                    height: 100px;
                    width: 200px;
                    text-decoration: none;
                }
            }

            .showMenu{
                display: flex;
                flex-direction: column;
                background-color: white;
                width: 100%;
                position: absolute;
                top: 100%;
                left: -20px;
                transition: 0.8 ease-in-out;
                gap: 15px;
                padding: 40px 20px;
                color: black;
                height: max-content;
                font-size: 28px;
                

                .submenu{
                    display: flex;
                    flex-direction: column;
                    // position: relative;
                    
                    .menuHover{
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        cursor: pointer;
    
                    }
                    .subnav{
                        display: flex;
                        flex-direction: column;
                        width: max-content;
                        color: black;
                        left: 10px;
                        gap: 7px;
                        padding: 10px 20px;
                        border-radius: 7px;
                    }
                    .noSubnav{
                        display: none;
                    }
                }

                .socialMedia{
                    display: flex;
                    width: 50%;
                    justify-content: flex-start;
                    align-items: flex-start;
                    position: relative;
                    gap: 15px;

                    .info{
                        display: flex;
                        position: absolute;
                        top: 45px;
                        
                    }
                    
    
                    .socialIcon{
                        display: flex;
                        width: 40px;
                        height: 40px;
                        background-color: #509399;
                        border-radius: 50%;
                        justify-content: center;
                        align-items: center;
                        color: white;
                        // margin-left: 10px;
                        
                    }
                }
            }

            .breadMenu{
                display: block;
                display: flex;
                cursor: pointer;
                width: 70px;
                height: 70px;
                border-radius: 50%;
                background-color: white;
                justify-content: center;
                align-items: center;
            }
            .nav_menu{
                display: none;
            }
        }
    }
}

@media (max-width: $medium) {
    .wrapper{


        .navbar{
            position: relative;
            top: 0px;
            width: 96vw;
            margin: 0px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .nav_logo{

                .img{
                    height: 90px;
                    width: 150px;
                    text-decoration: none;
                }
            }

            .showMenu{
                display: flex;
                flex-direction: column;
                background-color: white;
                width: 98%;
                position: absolute;
                top: 100%;
                left: -7px;
                transition: 3s ease;
                gap: 15px;
                padding: 40px 10px;
                color: black;
                height: 100vh;
                font-size: 22px;
                

                .submenu{
                    display: flex;
                    flex-direction: column;
                    position: relative;
                    
                    .menuHover{
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        cursor: pointer;
    
                    }
                    .subnav{
                        display: flex;
                        flex-direction: column;
                        width: max-content;
                        color: #509399;
                        left: 20px;
                        position: relative;
                        gap: 7px;
                        padding: 5px 10px;
                        border-radius: 7px;
                    }
                    .noSubnav{
                        display: none;
                    }
                }

                .socialMedia{
                    display: flex;
                    width: max-content;
                    justify-content: flex-start;
                    align-items: flex-start;
                    position: relative;
                    gap: 15px;
                    
                    

                    .info{
                        display: flex;
                        position: absolute;
                        top: 35px;
                    }
                    
    
                    .socialIcon{
                        display: flex;
                        width: 30px;
                        height: 30px;
                        background-color: #509399;
                        border-radius: 50%;
                        justify-content: center;
                        align-items: center;
                        color: white;
                        
                    }
                }
            }

            .breadMenu{
                display: block;
                display: flex;
                cursor: pointer;
                width: 60px;
                height: 60px;
                border-radius: 50%;
                background-color: white;
                justify-content: center;
                align-items: center;
            }
            .nav_menu{
                display: none;
            }
        }
    }
}


@media (max-width: $semiMedium) {
    .wrapper{


        .navbar{
            position: relative;
            top: 0px;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .nav_logo{

                .img{
                    height: 70px;
                    width: 120px;
                    text-decoration: none;
                }
            }

            .showMenu{
                display: flex;
                flex-direction: column;
                background-color: white;
                width: 98%;
                position: absolute;
                top: 100%;
                left: -7px;
                transition: 3s ease;
                gap: 15px;
                padding: 40px 10px;
                color: black;
                height: 100vh;
                font-size: 18px;
                

                .submenu{
                    display: flex;
                    flex-direction: column;
                    position: relative;
                    
                    .menuHover{
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        cursor: pointer;
    
                    }
                    .subnav{
                        display: flex;
                        flex-direction: column;
                        width: max-content;
                        color: #509399;
                        left: 20px;
                        position: relative;
                        gap: 7px;
                        padding: 5px 10px;
                        border-radius: 7px;
                    }
                    .noSubnav{
                        display: none;
                    }
                }

                .socialMedia{
                    display: flex;
                    width: max-content;
                    justify-content: flex-start;
                    align-items: flex-start;
                    position: relative;
                    gap: 15px;
                    
                    

                    .info{
                        display: flex;
                        position: absolute;
                        top: 35px;
                    }
                    
    
                    .socialIcon{
                        display: flex;
                        width: 30px;
                        height: 30px;
                        background-color: #509399;
                        border-radius: 50%;
                        justify-content: center;
                        align-items: center;
                        color: white;
                        
                    }
                }
            }

            .breadMenu{
                display: block;
                display: flex;
                cursor: pointer;
                width: 50px;
                height: 50px;
                border-radius: 50%;
                background-color: white;
                justify-content: center;
                align-items: center;
            }
            .nav_menu{
                display: none;
            }
        }
    }
}

@media (max-width: $small) {
    .wrapper{


        .navbar{
            position: relative;
            top: 0px;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .nav_logo{

                .img{
                    height: 70px;
                    width: 120px;
                    text-decoration: none;
                }
            }

            .showMenu{
                display: flex;
                flex-direction: column;
                background-color: white;
                height: 100vh;
                width: 98%;
                position: absolute;
                top: 100px;
                left: -7px;
                transition: height 2s;
                gap: 15px;
                padding: 40px 10px;
                color: black;
                font-size: 18px;
                // animation: mymove 3s ease-in-out forwards;

                .submenu{
                    display: flex;
                    flex-direction: column;
                    position: relative;
                    
                    .menuHover{
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        cursor: pointer;
    
                    }
                    .subnav{
                        display: flex;
                        flex-direction: column;
                        width: max-content;
                        color: #509399;
                        left: 20px;
                        position: relative;
                        gap: 7px;
                        padding: 5px 10px;
                        border-radius: 7px;
                    }
                    .noSubnav{
                        display: none;
                    }
                }

                .socialMedia{
                    display: flex;
                    width: max-content;
                    justify-content: flex-start;
                    align-items: flex-start;
                    position: relative;
                    gap: 15px;
                    
                    

                    .info{
                        display: flex;
                        position: absolute;
                        top: 35px;
                    }
                    
    
                    .socialIcon{
                        display: flex;
                        width: 30px;
                        height: 30px;
                        background-color: #509399;
                        border-radius: 50%;
                        justify-content: center;
                        align-items: center;
                        color: white;
                        
                    }
                }
            }

            @keyframes mymove {
                from{transition: 0.1s ease-in;}
                to{top: 80px;}
            }

            .breadMenu{
                display: block;
                display: flex;
                cursor: pointer;
                width: 45px;
                height: 45px;
                border-radius: 50%;
                background-color: white;
                justify-content: center;
                align-items: center;
            }
            .nav_menu{
                display: none;
            }
        }
    }
}