.main{
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    // position: relative;

    .description{
        position: relative;
        width: 98%;
        justify-content: center;
        align-items: center;

        .imgdiv{

            clip-path: polygon(0 0, 100% 0%, 100% 87%, 0 92%);
            position: relative;
            z-index: -999;       
            top: 0;
            left: 0;
            height: 100vh;
        }
        

        .backColor{
            position: absolute;
            background-image: linear-gradient(to top right, rgba(214, 208, 208, 0) , rgb(14, 12, 12));
            clip-path: polygon(0 0, 100% 0%, 100% 87%, 0 92%);
            top: 0;
            left: 0;
            height: 100vh;
            width: 100%;
            z-index: 30;
        }
    }
}

$small: 475px;
$semiMedium: 640px;
$medium: 768px;
$big: 1024px;
$large: 1200px;
$veryBig: 1536px;

@media (max-width: $medium){
    .main{
        color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        // position: relative;
    
        .description{
            position: relative;
            width: 100vw;
            justify-content: center;
            align-items: center;
            object-fit: contain;
    
            .imgdiv{
    
                clip-path: polygon(0 0, 100% 0%, 100% 87%, 0 92%);
                position: relative;
                z-index: -999;       
                top: 0;
                left: 0;
                // height: 100vh;
                width: 100vw;

            }
            
    
            .backColor{
                position: absolute;
                background-image: linear-gradient(to top right, rgba(214, 208, 208, 0) , rgb(14, 12, 12));
                clip-path: polygon(0 0, 100% 0%, 100% 87%, 0 92%);
                top: 0;
                left: 0;
                height: 100vh;
                width: 100vw;
                z-index: 30;
            }
        }
    }
}